body {
    color: rgb(14, 176, 231);
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(images/bg.webp);
    color: #fff;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    padding: 10px;
    color: #00FFFF;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#ph2 {
    font-size: 40px;
    width: 400px;
    margin: 20px auto;
    border-radius: 10px;
    text-shadow: 1px 1px 2px black, 0 0 25px pink, 0 0 5px palevioletred;
}

#menu button {
    padding: 10px 20px;
    margin: 50px 10px;

    font-size: 16px;
    cursor: pointer;
}

#exoplanet-section {
    text-align: center;
    max-width: 600px;
    margin: auto;
}

#exoplanet-content {
    margin-bottom: 20px;
}

#exoplanet-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

button {
    margin-top: 10px;
    width: 220px;
    background-color: pink;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
}

button:hover {
    background-color: palevioletred;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan,
        0 0 50px cyan, 0 0 100px cyan;
}

a{
    color: greenyellow;
}

a:hover{
    color: cyan;
    font-size: 15px;
    text-shadow: 1px 1px 10px gold;
}

#quiz-section{
    width: 600px;
    margin: 0 auto;
}

#options-container div{
    padding: 10px;
    text-align: left;
    font-size: 20px;
    color: cyan;
}

p{
    font-size: 20px;
    color: orange;
    font-weight: bold;
    text-shadow: 1px 1px 20px gold;
}

#congratulations {
    margin-top: 20px;
    font-size: 40px;
    color: #ff4500;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.balloon {
    font-size: 50px;
    margin: 0 10px;
    animation: float 2s ease-in-out infinite;
}

.balloon:hover{
    color: pink;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 34px;
    }

    h2 {
        font-size: 24px;
    }

    button {
        width: 100%;
    }
}
